# Database connection URL
# For running app locally via IDE use localhost:5433
# For running app via Docker use postgres:5432
DATABASE_URL=jdbc:postgresql://localhost:5433/insurahub
DATABASE_USERNAME=insurahub_user
DATABASE_PASSWORD=insurahub_password

POSTGRES_DB=insurahub
POSTGRES_USER=insurahub_user
POSTGRES_PASSWORD=insurahub_password
