# Database connection URL
# For running app locally via IDE use localhost:5433
# For running app via Docker use postgres:5432
DATABASE_URL=jdbc:postgresql://localhost:5433/insurahub
DATABASE_USERNAME=insurahub_user
DATABASE_PASSWORD=insurahub_password

POSTGRES_DB=insurahub
POSTGRES_USER=insurahub_user
POSTGRES_PASSWORD=insurahub_password

AUTH0_ISSUER_URI=https://test.auth0.com/
AUTH0_AUDIENCE=https://insurahub.test/apiAUTH0_ISSUER_URI=https://your-auth0-domain.auth0.com/
AUTH0_AUDIENCE=your-api-audience

export AUTH0_DOMAIN=[The Auth0 domain]
export AUTH0_CLIENT_ID=[Client ID of the Auth0 M2M application]
export AUTH0_CLIENT_SECRET=[Client secret of the Auth0 M2M application]
export AUTH0_CONNECTION_NAME=[Name of the Auth0 database connection]
export AUTH0_CONSUMER_ROLE=[The ID of the CONSUMER role in Auth0]
export AUTH0_ADMIN_ROLE=[The ID of the ADMIN role in Auth0]
